/* Overwrites */

.ui.button.squareButton {
  font-size: 38px!important;
  max-width: 138px;
  margin: 10px;
}

.ui.table {
  width: 280px!important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ui.fluid.button, .ui.fluid.buttons {
    width: 94%!important;
}

.ui.text.container.pickedAnswers {
    width: 94%!important;
}

/* Custom */

p.newGameCountryName {
  display: inline-block;
  font-size: 1.267em;
  padding-left: 30px;
  position: relative;
  bottom: 28px;
  color: #4c4c4c;
}

img.newGameFlag {
  display: inline-block;
  position: relative;
  bottom: 7px;
  left: 7px;
}

.flagContainers {
  width: 94%;
  border-radius: 8px;
  background: #efefef;
  padding: 5px;
  margin: 3px 15px;
  font-size: 19px;
  cursor: pointer;
  height: 60px;
}

.newGameLabel { margin: 15px 0px 0px 15px!important; }

.newGameInput {
  margin: 15px 0px 0px 15px;
  width: 94%!important;
}

.newGameTextArea {
  margin: 15px 0px 0px 15px;
  border: 1px solid gainsboro!important;
  border-radius: 5px;
  width: 94%;
}

.gameSubmitButton {
  margin: 15px!important;
}

.searchBar {
  margin-bottom: 30px!important;
}

.gameSelectionContainer {
  height: 392px;
  overflow: scroll;
  padding: 15px;
  background: rgba(47, 82, 126, 0.25);
  border-radius: 8px;
}

.timecard {
  font-size: 112px;
  color: yellow;
  background-color: rgba(6, 0, 38, 0.98);
  position: absolute;
  z-index: 10000;
  right: 16px;
  bottom: 50px;
  height: 106px;
  width: 109px;
  border-radius: 5px;
}

.timecardInside {
  position: relative;
  left: 22px;
  top: 43px;
}

.pickedAnswers {
  background: #efefef;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
  min-height: 66px;
}

.selected { background-color: rgba(109, 232, 246, 0.44)!important }

.gameCodeNames {
  text-align: center;
  margin-top: 30px!important;
  font-size: 52px;
  color: #626262;
  display: block;
}

.codeSpan {
  color: #6435c9;
}

.joinButtonPlayer {
  margin-left: 10px!important;
}

.gameCardWrapper {
  width: 72%;
}

.gameCard {
  background: #f6f6f6;
  border-radius: 4px;
  padding: 10px;
  margin: 11px;
  display: inline-block;
  width: 38%;
  cursor: pointer;
  vertical-align: text-top;
  box-shadow: 4px 3px #607D8B;
}

.leaderboard {
  margin: 22px 0px 0px 60px!important;
  display: inline-block;
}

.playerColumn {
  width: 17%!important;
}

.scoreColumn {
  width: 80%!important;
}

.ui.facebook.button {
  cursor: pointer!important;
  z-index: 999!important;
  position: relative!important;
}

.answerBox {
  display: inline-block;
  width: 50%;
  height: 74px;
  background: rgba(6, 0, 38, 0.98);
  color: yellow;
  font-size: 2.4vw;
  padding-top: 25px;
  text-align: center;
}

.answerContainer {
  width: 100%;
  border-radius: 8px;
}

.readyButton {
  width: 82px;
  display: block;
  float: right;
  margin: -71px 104px;
}

.readyButton2 {
  width: 82px;
  display: block;
  float: right;
  margin: 24px 104px;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

p {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #393939;
}

#joinButton {
  margin-top: 10px;
  width: 200px;
}

#codeInput {
  text-transform: uppercase;
  text-align: center;
}

#usernameInput {
  text-align: center;
}

.wrapper {
  width: 320px!important;
  margin: 40px auto 22px;
}

.playerButtonBuffer {
  margin-top: 39px;
}

.progressBar {
  max-width: 280px!important;
  margin: 12px auto!important;
}

.timer {
  font-size: 34px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 28px;
}

.buttonWrapper { margin-bottom: 21px; }

.bigButton {
  width: 180px;
  height: 55px;
  margin: 10px;
}

.biggerButton {
  width: 320px;
  height: 61px;
  margin: 20px;
}

.squareButton {
  width: 44%;
  height: 138px;
}

.bigCode { font-size: 32px; }

.welcome {
  font-family: 'Niconne', cursive;
  font-size: 54px;
  margin-top: 30px!important;
}
