/* Overwrites */

.ui.button.squareButton {
  font-size: 38px!important;
  max-width: 138px;
  margin: 10px;
}

/* Custom */

.ui.facebook.button {
  cursor: pointer!important;
  z-index: 999!important;
  position: relative!important;
}

.answerBox {
  display: inline-block;
  width: 300px;
  height: 62px;
  background: #f3f3f3;
  color: #5d5d65;
  font-size: 26px;
  padding-top: 20px;
  text-align: center;
}

.answerContainer {
  width: 600px;
  border-radius: 8px;
}

.dashboardButtons {
  width: 82px;
  display: block;
  float: right;
}

#root {
 height: 100%;
 width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

p {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #393939;
}

#joinButton {
  margin-top: 10px;
  width: 200px;
}

#codeInput {
  text-transform: uppercase;
  text-align: center;
}

#usernameInput {
  text-align: center;
}

.wrapper {
  width: 320px!important;
  margin: 40px auto 22px;
}

.playerButtonBuffer {
  margin-top: 39px;
}

.progressBar {
  max-width: 280px!important;
  margin: 12px auto!important;
}

.timer {
  font-size: 34px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 28px;
}

.buttonWrapper { margin-bottom: 21px; }

.bigButton {
  width: 180px;
  height: 55px;
  margin: 10px;
}

.biggerButton {
  width: 320px;
  height: 61px;
  margin: 20px;
}

.squareButton {
  width: 44%;
  height: 138px;
}

.bigCode { font-size: 40px; }

.welcome {
  font-family: 'Niconne', cursive;
  font-size: 54px;
}
