/* Custom */

#finalScoreboard {
  background: url('images/space-2.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

#finalScoreboard .playerColumn {
  background: rgba(62, 62, 62, 0.97);
  color: rgba(255, 255, 255, 0.82);
  font-size: 22px;
}

#finalScoreboard .scoreColumn {
  background: rgba(62, 62, 62, 0.97);
  color: rgba(255, 255, 255, 0.82);
  font-size: 22px;
}

#finalScoreboard .leaderboard {
  border-color: #565656;
}

#finalScoreboard tbody tr {
  font-size: 18px;
  text-indent: 4px;
}

.winners {
  position: absolute;
  font-size: 40px;
  height: 350px;
  width: 470px;
  top: 292px;
  left: 1019px;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,0.5) , 0 0 20px rgba(255,255,255,0.5) , 0 0 30px rgba(255,255,255,0.5) , 0 0 40px #00f1f9 , 0 0 70px #00f1f9 , 0 0 80px #00f1f9 , 0 0 100px #00f1f9 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.winner_1 {
  -ms-transform: rotate(-17deg); /* IE 9 */
  -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
  transform: rotate(-17deg);
  position: relative;
  bottom: 21px;
  left: 20px;
  font-size: 52px;
}

.winner_2 {
  -ms-transform: rotate(-17deg); /* IE 9 */
  -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
  transform: rotate(-17deg);
  position: relative;
  top: 96px;
  left: 126px;
}

.winner_3 {
  -ms-transform: rotate(-17deg); /* IE 9 */
  -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
  transform: rotate(-17deg);
  top: 171px;
  left: 239px;
  position: relative;
}

.podium {
  height: 300px;
  width: 330px;
  font-size: 42px;
  color: #1b567e;
  text-align: center;
  position: absolute;
  top: 384px;
  left: 1019px;
  z-index: 40;
}

.podium_1 {
  display: inline-block;
  background: url('images/gold-medal-2.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: -5px 58px;
  background-color: rgba(248, 224, 101, 0.97);
  margin: 5px;
  padding-top: 28px;
  border-radius: 12px 12px 0px 0px;
  height: 300px;
  width: 100px;
  vertical-align: bottom;
  border: 4px solid rgb(46, 145, 216);
}

.podium_2 {
  display: inline-block;
  background-color: rgba(192, 192, 192, 0.97);
  margin: 5px;
  padding-top: 26px;
  border-radius: 12px 12px 0px 0px;
  height: 166px;
  width: 100px;
  vertical-align: bottom;
  border: 4px solid rgb(46, 145, 216);
}

.podium_3 {
  display: inline-block;
  background-color: rgba(230, 203, 60, 0.97);
  margin: 5px;
  padding-top: 24px;
  border-radius: 12px 12px 0px 0px;
  height: 74px;
  width: 100px;
  vertical-align: bottom;
  border: 4px solid rgb(46, 145, 216);
}

#soloLoadingGame {
  margin-top: 20px!important;
}

.startButtonSolo {
  margin: 0 auto!important;
  width: 100%!important;
  margin-top: 10px;
}

.gameToggles {
  padding: 26px;
  background-image: url('images/rough-cloth.png');
  border-radius: 5px;
  width: 84%;
  margin: 36px auto 42px;
}

.gameToggles label {
  font-weight: 700;
}

p.newGameCountryName {
  display: inline-block;
  font-size: 1em;
  padding-left: 30px;
  position: relative;
  bottom: 31px;
  color: #4c4c4c;
}

img.newGameFlag {
  display: inline-block;
  position: relative;
  bottom: 7px;
  left: 7px;
}

.flagContainers {
  width: 94%;
  border-radius: 8px;
  background: rgba(222, 222, 222, 0.50);
  padding: 5px;
  margin: 3px 15px;
  font-size: 19px;
  cursor: pointer;
  height: 60px;
}

.newGameLabel { margin: 15px 0px 0px 15px!important; }

.newGameInput {
  margin: 15px 0px 0px 15px;
  width: 94%!important;
}

.newGameTextArea {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.21428571em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 15px 0px 0px 15px;
  border: 1px solid gainsboro!important;
  border-radius: 5px;
  width: 94%;
}

p.footerBlurb {
  margin-bottom: 27px;
  color: #393939;
  width: 300px;
  margin: 0 auto;
}

.gameSubmitButton {
  margin: 15px 0px 30px 15px!important;
}

.searchBar {
  margin-bottom: 19px!important;
}

.gameSelectionContainer {
  padding: 10px;
  position: relative;
  bottom: 25px;
}

.timecard {
  color: white;
  background-color: green;
  position: absolute;
  z-index: 10000;
  right: 0.5vh;
  bottom: 0.5vh;
  width: auto;
  padding: 8px;
  border-radius: 5px;
}

#bigMap .timecard h1 {
  font-size: 72px;
  padding: 0px 12px;
  background-color: rgba(0, 128, 0, 0.45)!important;
}

.successFlash {
  color: white;
  background-color: green;
  position: absolute;
  z-index: 10000;
  left: 0.5vh;
  bottom: 0.5vh;
  width: auto;
  padding: 8px;
  border-radius: 5px;
}

.pickedAnswers {
  margin: 20px;
  padding: 26px;
  background-color: rgba(239, 239, 239, 0.16);
  background-image: url('images/rough-cloth.png');
  border-radius: 5px;
  text-align: center;
  min-height: 66px;
}

.selected {
  background-color: rgba(0, 128, 128, 0.2)!important;
}

.gameCodeNames {
  text-align: center;
  margin-top: 30px!important;
  font-size: 52px;
  color: #626262;
  display: block;
}

.codeSpan {
  color: teal;
}

.joinButtonPlayer {
  margin-left: 10px!important;
}

.gameCardWrapper {
  width: 72%;
}

.gameCard {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 9px;
  padding: 10px;
  margin: 11px;
  display: inline-block;
  width: 38%;
  cursor: pointer;
  vertical-align: text-top;
  -webkit-box-shadow: 4px 3px #2185d0;
  box-shadow: 3px 3px rgba(0, 128, 128, 0.8);
}

.leaderboard {
  margin: 22px 0px 0px 60px!important;
  position: relative;
  z-index: 50;
}

.ui.facebook.button {
  cursor: pointer!important;
  z-index: 999!important;
  position: relative!important;
}

.answerBox {
  display: inline-block;
  line-height: 0.8;
  width: 50%;
  height: 82px;
  background-color: green;
  color: white;
  font-size: 3.3vh;
  padding-top: 30px;
  text-align: center;
}

.answerButton {
  display: inline-block!important;
  vertical-align: text-top!important;
  width: 48%;
  border: 1px dashed white!important;
  padding: 10px!important;
  margin: 3px!important;
  height: 74px;
  background-color: rgb(100, 53, 201);
  color: white!important;
  font-size: 3vh!important;
  text-align: center!important;
}

.buttonContainer {
  width: 101%;
  margin: 0 auto;
}

.answerContainer {
  width: 100%;
  background-color: #00b5ad;
}

.readyButton {
  width: 82px;
  display: block;
  float: right;
  margin: -53px 169px;
}

.readyButton2 {
  width: 82px;
  display: block;
  float: right;
  margin: -53px 169px;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

html, body {
  background-color: rgb(255, 254, 254)!important;
  background-image: url('images/egg-shell.png');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

p {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #393939;
}

#joinButton {
  margin-top: 10px;
  width: 200px;
}

#codeInput {
  text-transform: uppercase;
  text-align: center;
}

#usernameInput {
  text-align: center;
}

.wrapper {
  width: 320px;
  margin: 40px auto 22px;
}


.playerResultWrapper {
  width: 200px!important;
}

.playerButtonBuffer {
  margin: 40px auto;
  text-align: center;
}

.progressBar {
  max-width: 280px!important;
  margin: 12px auto!important;
}

.timer {
  font-size: 34px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  text-align: center;
  margin-bottom: 28px;
}

.buttonWrapper { margin-bottom: 21px; }

.bigButton {
  width: 180px;
  height: 55px;
  margin: 10px;
  font-size: 18px!important;
}

.biggerButton {
  width: 320px;
  height: 61px;
  margin: 20px;
}

.squareButton {
  width: 44%;
  height: 138px;
}

.bigCode {
  font-size: 32px;
  margin-bottom: 48px;
}

.welcome {
  font-family: 'Niconne', cursive;
  font-size: 54px;
  margin-top: 30px!important;
}

/* Overwrites */

.fade {
  animation: fade-in-keyframes 1s;
}

@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

.ui.button.squareButton {
  font-size: 38px!important;
  max-width: 138px;
  margin: 10px;
}

.ui.table {
  width: 540px!important;
  margin-top: 62px!important;
  margin-left: 102px!important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ui.fluid.button, .ui.fluid.buttons {
    width: 94%!important;
}

.ui.text.container.pickedAnswers {
    width: 94%!important;
}

.bigButton {
    margin: 2px!important;
}

.userFeedbackIcons {
    margin: 30px!important
}
